requests
beautifulsoup4
pandas
numpy
matplotlib
seaborn
streamlit
scikit-learn
xgboost
spacy
https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.7.0/de_core_news_sm-3.7.0-py3-none-any.whl